<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Angular App</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="01.js"></script>
</head>
<body>
<div ng-app="qaApp">
    <div>
        <div>Show ng-bind and ng-model {{modelText}}</div>
        <div><input type="text" ng-model="modelText"></div>
        <div><span ng-bind="modelText"></span></div>
    </div>


    <div ng-controller="qaController" class="container">

        <div class="row">
            <div class="col-sm-3">
                <label for="qIndex" ng-bind="'Current Q#' + (currentQuestionIndex+1)"></label>
                <input id="qIndex" type="range" min="0" max="3" ng-model="currentQuestionIndex">
            </div>
        </div>
        <div class="row">
            <div class="panel panel-body well qa-wrapper col-sm-3" ng-repeat="qa in qaData"
                 ng-show="(currentQuestionIndex === $index)">
                <div>Q. <span>{{qa.question}}</span></div>
                <div>
                    <div class="option" ng-repeat="option in qa.options">
                        <button ng-class="{'bg-success': (showAnswerClicked && isCorrect ($index, $parent.$index)), 'bg-warning': showAnswerClicked && !isCorrect($index, $parent.$index)}">
                            Parent {{$parent.$index}}, $index: {{$index}}
                            {{getTextOfOption($parent.$index, $index)}}
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <button ng-click="showAnswerClicked=true">showAnswerClicked</button>
            </div>
        </div>
        <div>
            <button ng-click="showOptionIndex()">Show Index: {{showIndex}}</button>
        </div>
    </div>

</div>
</body>
</html>